[submodule "jordan"]
	path = jordan
	url = git://github.com/secretiverhyme/dotfiles.git
[submodule "jayferd"]
	path = jayferd
	url = git://github.com/jayferd/dot
[submodule "toulouse"]
	path = toulouse
	url = git://github.com/toulouse/dotfiles.git
